<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
</head>
<body>

    <!-- Header / Navbar -->
    <section id="header" class="container-fluid">
        <a href="#"><img src ="img/logo.png" class="logo" alt=""></a>
        <div id="navbar-container">
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/products">Products Managment</a></li>
                <li><a href="/categories">Categories Managment</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="bi bi-bag"></i></a></li>
                <i id="close" class="bi bi-x-lg"></i>
            </ul>
        </div>

        <div id="mobile">
            <a href="cart.html"><i class="bi bi-bag"></i></a>
            <i id="bar" class="bi bi-list"></i>
        </div>

    </section>

    <!-- Main -->
     <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
     </section>

     <section id="about-head" class="section-p1">
        <img src="img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi nec ligula id ante tincidunt molestie quis sit amet elit. 
                Morbi venenatis, lectus euismod placerat pulvinar, ex neque pellentesque lacus, 
                ut scelerisque neque eros nec ante. Aliquam erat erat, tempus a felis ut, fringilla pretium orci. 
                Sed sed rhoncus urna. In at felis non ex commodo congue. Aliquam consequat magna purus. 
                In eu lorem in lorem ultricies semper at sed lacus. Pellentesque nulla nulla, viverra vitae sollicitudin et, 
                cursus ac augue. Duis eleifend elementum ipsum, non interdum nisl lacinia vitae. 
                Etiam semper neque in nisl feugiat, in accumsan lacus auctor. Fusce et quam suscipit, vestibulum est a, 
                viverra augue. Aenean pulvinar venenatis maximus.</p>
                <br><br>

                <marquee loop id="moving-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Quisque vestibulum sollicitudin dapibus. In hac habitasse.</marquee>
        </div>
     </section>

     <section id="about-app" class="section-p1">
        <h1>Download Our <a href="#">App</a></h1>
        <div class="video">
            <video autoplay muted loop src="img/about/1.mp4"></video>
        </div>
     </section>
     
    <!-- Features Icons -->
    <section id="feature" class="section-p1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/free-shipping.png" class="feature-icon" alt="feature-icon">
                        <h6>Free Shipping</h6>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/online-order.png" class="feature-icon" alt="feature-icon">
                        <h6>Order Online</h6>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/save-money.png" class="feature-icon" alt="feature-icon">
                        <h6>Save Money</h6>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/promotions.png" class="feature-icon" alt="feature-icon">
                        <h6>Promotions</h6>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/happy-sale.png" class="feature-icon" alt="feature-icon">
                        <h6>Happy Sale</h6>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <div class="fe-box">
                        <img src="img/features/customer-support.png" class="feature-icon" alt="feature-icon">
                        <h6>Support</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Newsletter Sign Up -->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>spaciel offers.</span></p>
        </div>
        <div class="form">
            <input  type="text" placeholder="Your Email Adress">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <!-- Footer -->
    <footer class="section-p1">
        <div class="col contact">
            <img class="logo" src="img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Adress:</strong> 1234 Elm Street, Springfield, USA</p>
            <p><strong>Phone:</strong> +1 (555) 123-4567</p>
            <p><strong>Hours:</strong> Monday - Friday, 8:00 AM - 6:00 PM</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-pinterest"></i>
                    <i class="bi bi-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col about">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col my-account">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/play.jpg" alt="">
                <img src="img/pay/app.jpg" alt="">
            </div>
            <p>Secured Payment Getways</p>
            <img src="img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>&copy; 2024 Stylish Threads Clothing Store. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
