<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <h1>Categories</h1>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <%= category.name %>
                <a href="/categories/<%= category._id %>/edit">Edit</a>
            </li>
        <% }) %>
    </ul>
    <button id="add-category-btn">Add Category</button><br>
    <a href="/products">Back to Products</a>

    <script src="/js/addCategory.js"></script>
</body>
</html>
