<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Categories</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <h1>Edit Category</h1>
    <div>
        <p><strong>Category Name:</strong> <%= category.name %></p>
    </div>
    <form action="/categories/<%= category._id %>?_method=PUT" method="post">
        <label for="name">New Name:</label>
        <input type="text" name="name" id="name" value="<%= category.name %>" required><br>
        <button type="submit">Update Product</button>
    </form>
    <button id="delete-category-btn" data-category-id="<%= category._id %>">Delete Category</button>
    <a href="/categories">Back to Manage Categories</a>
    <script src="/js/deleteConfirmation.js"></script>
</body>
</html>
