@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-weight: bold;
}

body h2 {
    font-size: 46px;
    line-height:54px;
    color: #222;
    font-weight: bold;
}

body h4 {
    font-size: 20px;
    color: #222;
    font-weight: bold;
}

body h6 {
    font-weight: 700;
    font-size: 12px;
    font-weight: bold;
}

body p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------
                                                    Home Page
---------------------------------------------------------------------------------------------------------------------*/


/* ---------- Header/Start ------------- */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    margin-top: 10px;
}

#navbar li a{
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   color: #1a1a1a;
   transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* ------ Home Page ------ */

#hero {
    background-image: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 23% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;  
}

#hero h1{
    color: #088178;
}

.button-53 {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem; 
    font-weight: 700;
    justify-content: center;
    line-height: 1.5rem; 
    padding: 0.6rem 1.2rem; 
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 350px; 
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
.button-53:focus {
outline: 0;
}
  
.button-53:after {
content: '';
position: absolute;
border: 1px solid #000000;
bottom: 4px;
left: 4px;
width: calc(100% - 1px);
height: calc(100% - 1px);
}

.button-53:hover:after {
bottom: 2px;
left: 2px;
}


/* ------ Features Icons----- */

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70 , 62, 221, 0.1);
}

#feature .fe-box h6 {
    display: inline-block;
    margin-top: 10px;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #000000;
    background-color: #d5f2f7;
}


#feature .col-xl-2.col-lg-4.col-sm-6:nth-of-type(2) .fe-box h6 {
    background-color: #fcdede;
}
#feature .col-xl-2.col-lg-4.col-sm-6:nth-of-type(3) .fe-box h6 {
    background-color: #cdebbc;
}
#feature .col-xl-2.col-lg-4.col-sm-6:nth-of-type(4) .fe-box h6 {
    background-color: #bed8f9;
}
#feature .col-xl-2.col-lg-4.col-sm-6:nth-of-type(5) .fe-box h6 {
    background-color: rgb(221, 188, 236);
}
#feature .col-xl-2.col-lg-4.col-sm-6:nth-of-type(6) .fe-box h6 {
    background-color: #ebd5bc;
}


/* ------ Products Feature ------ */


#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .bi-cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.bi-star-fill {
    color: gold;
}

.bi-cart {
    color: black;
}


/* ----- Banner ----- */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: white;
}


/* ----- Second Banner ----- */


#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/banner/b17.jpg);
    min-width: 600px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url(../img/banner/b10.jpg);
}

#sm-banner h4 {
    color: white;
    font-size: 40px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    color: white;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/banner/b7.jpg);
    min-width: 31%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(../img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(../img/banner/b18.jpg);
}

#banner3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

/* ----- NewsLetter Sign Up ----- */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: gold;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* ----- Footer ----- */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    width: 170px;
    height: 48px;
    margin: 5px;
    padding: 2px;
}


footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .contact,
footer .install {
    flex: 1 1 30%; 
}

footer .about,
footer .my-account {
    flex: 1 1 20%; 
}



/*-------------------------------------------------------------------------------------------------------------------
                                                    Shop Page
---------------------------------------------------------------------------------------------------------------------*/


#page-header {
    background-image: url('../img/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}


/* ----- Single Product ------ */

#mainImg {
    margin-bottom: 15px;
}

#prodetails {
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: white;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------
                                                    Blog Page
---------------------------------------------------------------------------------------------------------------------*/

#page-header.blog-header{
    background-image: url('../img/banner/b19.jpg');
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 40%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}


#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
}



/*-------------------------------------------------------------------------------------------------------------------
                                                    About
---------------------------------------------------------------------------------------------------------------------*/

#page-header.about-header {
    background-image: url('../img/about/banner.png');
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    margin-left: 40px;
}

#moving-txt {
    background-color: #ccc;
    width: 100%;
}

#about-app {
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 70%;
    margin: 30px auto 0 auto;

}

#about-app .video video {
    width: 70%;
    height: 70%;
    border-radius: 20px;
}


/*-------------------------------------------------------------------------------------------------------------------
                                                    Contact
---------------------------------------------------------------------------------------------------------------------*/

#contact-details {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details i {
    margin-right: 20px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form input {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    resize: none;
}

#form-details form button {
    background-color: #088178;
    color: white;
}

#form-details .people div {
    padding-top: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}


/*-------------------------------------------------------------------------------------------------------------------
                                                    Cart
---------------------------------------------------------------------------------------------------------------------*/

#cart { 
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
 width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
    word-wrap: break-word;    /* Allows breaking long words onto the next line */
    white-space: normal;     /* Ensures text will wrap onto the next line */
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}


#cart table tbody td {
    font-size: 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}


#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/*-------------------------------------------------------------------------------------------------------------------
                                                    Products For Admin
---------------------------------------------------------------------------------------------------------------------*/

#header h2 {
    padding-right: 40%;
}

#cart table tbody .desc {
    padding-top: 15px;
    word-wrap: break-word; /* Allows breaking long words onto the next line */
    white-space: normal; /* Ensures text will wrap onto the next line */
}

#cart table td:nth-child(3) {
    width: 150px;
    text-align: center;
    word-wrap: break-word;    /* Allows breaking long words onto the next line */
    white-space: normal;     /* Ensures text will wrap onto the next line */
}

#funcuality {
    height: 150px;
}

#funcuality .head-line {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#funcuality .head-line h2 {
    font-size: 30px;
    padding-bottom: 5px;
}

#funcuality .options {
    display: flex;
    justify-content: center;
}


#funcuality form {
    display: flex;
    align-items: center;
}

#funcuality .options button {
    background-color: #088178;
    color: white;
    height: 45px;
}

#filter-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#select-category {
    height: 45px;
    width: 200px;
}

#funcuality .options form h4 {
    margin-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

#category-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 50px;
}

#category-header h2{
    font-size: 20px;
}

#category-header h2 span{
    color: #088178;
}

#cart tbody tr td button:hover,
#editProductModal .modal-dialog .modal-content .modal-header button:hover,
#editCategoryModal .modal-dialog .modal-content .modal-header button:hover{
    color: #088178;
}

#editProductModal .modal-dialog .modal-content .modal-header,
#addProductModal .modal-dialog .modal-content .modal-header,
#editCategoryModal .modal-dialog .modal-content .modal-header,
#addCategoryModal .modal-dialog .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
}

#editProductForm .form-group,
#addProductForm .form-group,
#editCategoryForm .form-group,
#addCategoryForm .form-group{
    padding: 15px;
}

#editProductModal .modal-dialog .modal-content .modal-footer,
#addProductModal .modal-dialog .modal-content .modal-footer,
#editCategoryModal .modal-dialog .modal-content .modal-footer,
#addCategoryModal .modal-dialog .modal-content .modal-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#addButton {
    width: 100px;
}


/*-------------------------------------------------------------------------------------------------------------------
                                                    Sign in
---------------------------------------------------------------------------------------------------------------------*/

#sign-in-header {
    text-align: center;
    padding-top: 30px;
}

#sign-in-header h2 {
    padding-bottom: 13px;
}

#sign-in-header h4 {
    padding-top: 13px;
    color: #088178;
}

#sign-in-header a {
    text-decoration: none;
}

#login-register-details {
    display: flex;
    justify-content: center; 
    margin: 30px auto; 
    padding: 50px; 
    border: 1px solid #e1e1e1;
    width: 40%;
    box-sizing: border-box; 
}

#login-register-details form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box; 
}

#login-register-details h4 {
    margin: 10px 0; 
}

#login-register-details input {
    width: 100%; 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}


#login-register-details button.normal {
    background-color: #088178;
    color: white;
}





/*-------------------------------------------------------------------------------------------------------------------
                                                    @media
---------------------------------------------------------------------------------------------------------------------*/

/* This is for the navbar button to resize when the page is small */
@media (max-width:775px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;    /* when the page is small so you wont see the navbar */
        height: 100vh;
        width: 200px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        cursor: pointer;
        transition: 0.2s;
    }

    #navbar.active {
        right: 0;
    }
 
    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 60%;
    }

    #newsletter .form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #feature {
        margin-left: 55px;
    }

    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About */
    
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 30px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-head .video {
        width: 100%;
    }

    /* Contact */

    #contact-details {
        flex-direction: column;
        align-items: flex-start;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
       margin: 10px;
       pad: 30px 10px;
       flex-wrap: wrap;
    }
    
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart */
    
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
    }

}

@media (min-width: 768px) {
    .button-53 {
        padding: 0.75rem 2.5rem;
        font-size: 1.1rem; 
    }
}